<section id='dashboard-parent-graph'>
  <div class='graph container'>
    <!-- {{ember-chart data=model.rest type='bar' width=200 height=200 class='center-block' tooltip=null}} -->
    <!-- {{rest.length}} -->
    {{#each model as |task|}}
    <section class='graph'>
      <article class='graph-element'>
        {{task.date}}
        {{task-count-day task.sweat task.rest task.nutrition task.personalWellness}}
        <div
          style="
            height:700px;
            width:40px;
            background-color: #FFFFFF;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin: 0px;
            opacity: .7;
          "></div>
      </article>
    </section>
    {{/each}}
  </div>
</section>
{{yield}}
