<section id='dashboard-parent-graph' {{ action 'graphData' model}}>
  <div class='graph container'>
    <!-- {{ember-chart data=graphData type='bar' width=200 height=200 class='center-block' tooltip=null}} -->
    {{rest.length}}
    {{#each model as |task|}}
      {{task.date}}
    {{/each}}
  </div>
</section>
{{yield}}
