<div>
  <h1>home</h1>
  <form class="task-form" {{action 'submitTasks' model on='submit'}}>
    <label class="task">
      {{ input type="checkbox" class="checks" name="sweat" checked=sweat }}
      Sweat
      <img src="./assets/sweat_feet.png" alt="Sweat image" class="task-icons">
    </label>
    <label class="task">
      {{ input type="checkbox" class="checks" name="rest" checked=rest }}
      Rest
      <img src="./assets/rest_cup.svg" alt="Rest image" class="task-icons">
    </label>
    <label class="task">
      {{ input type="checkbox" class="checks" name="nutrition" checked=nutrition }}
      Nutrition
      <img src="./assets/leaf.png" alt="Diet image" class="task-icons">
    </label>
    <label class="task">
      {{ input type="checkbox" class="checks" name="personalWellness" checked=personalWellness }}
      Personal Wellness
      <img src="./assets/personal_heart.svg" alt="Personal image" class="task-icons">
    </label>
    <button class="submit-button">Submit</button>
  </form>
  {{outlet}}
</div>
