<form class="" {{action 'submitTasks' model on='submit'}}>
  <label>Sweat
    {{ input type="text" value=title }}
  </label>
  <!-- <label>Rest
    {{ input type="checkbox" checked=1 }}
  </label> -->
  <!-- <label>Nutrition
    {{ input type="checkbox" value=nutrition }}
  </label>
  <label>Personal Wellness
    {{ input type="checkbox" value=personal }}
  </label> -->
  <!-- <input type="submit" value="Submit"> -->
  <button>Submit</button>
</form>
