<header>
  <section class="mobile-container">
    <section class="title-container">
      <img src="./assets/turing-logo.png" alt="Turing Logo" class="logo">
      <h1 id="title-main">wellness</h1>
    </section>
    {{#if session.isAuthenticated}}
      <button class="auth login" {{action 'logout'}}>Logout</button>
    {{else}}
    <button class="auth logout" {{action 'login'}}>Login</button>
    {{/if}}
  </section>
</header>
<body>
  {{outlet}}
</body>
{{#if (not-eq session.data.authenticated.profile.name 'MaryJane ')}}
  {{student-footer}}
{{/if}}
